<div class="c-search__row" data-clean-value="{{ title.title_text|raw }}">
  <a class="c-search__link" href="{{ url }}">
    <span class="c-search__ellipsis">
      {{ title.highlighted|raw }}
    </span>
  </a>
</div>
