<form {{ attributes }}>
  {{ form|without('search', 'submit') }}
  <svg class="icon icon--search"><use xlink:href="{{ html_folder }}/dist/images/_sprite.svg#icon--search"></use></svg>
  {{ form.search|without('#title') }}
  <div class="c-search__close"></div>
</form>
