<div class="c-search">
  <div class="c-search__button">
    <div class="c-search__button">
      <svg class="icon icon--search"><use xlink:href="{{ html_folder }}/dist/images/_sprite.svg#icon--search"></use></svg>
    </div>
  </div>
  <div class="c-search__dropdown">
    <div class="l-container">
      {{ search_block.search_form }}
      {#<div class="c-search__result">
        <div class="c-search__list">
          <div class="c-search__row">
            <a class="c-search__link" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            <b>Париж</b>, Франция
                                        </span>
            </a>
            <a class="c-search__link c-search__link--small" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            Рестораны
                                        </span>
            </a>
            <a class="c-search__link c-search__link--small" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            Отели
                                        </span>
            </a>
            <a class="c-search__link c-search__link--small" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            Достопримечательности
                                        </span>
            </a>
          </div>
          <div class="c-search__row">
            <a class="c-search__link" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            <b>ЖК Париж</b>, Одесса
                                        </span>
            </a>
          </div>
          <div class="c-search__row">
            <a class="c-search__link" href="javascript:void(0)">
                                        <span class="c-search__ellipsis">
                                            Маленький <b>Париж</b> в Петербурге, St Petersburg
                                        </span>
            </a>
          </div>
        </div>
        <div class="c-search__row">
          <a class="c-search__link c-search__arrow" href="javascript:void(0)">
            Показать все результаты по слову: Париж
          </a>
        </div>
      </div>#}
    </div>
  </div>
</div>
