{#
/**
 * @file
 * Default theme implementation to present a country entity.
 *
 * This template is used when viewing a registered country's page,
 * e.g., /admin/content/world/pg-country)/123. 123 being the country's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pg_country()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
