{#
/**
 * @file
 * Default theme implementation to present a region entity.
 *
 * This template is used when viewing a registered region's page,
 * e.g., /admin/content/pg-region)/123. 123 being the region's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pg_region()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
