{#
/**
 * @file
 * Default theme implementation to present a city entity.
 *
 * This template is used when viewing a registered city's page,
 * e.g., /admin/content/pg-city)/123. 123 being the city's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pg_city()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
