{% if anchors_list and anchors_list|length > 1 %}
  <div class="l-row">
    <div class="c-anchor">
      <nav class="c-anchor__inner">
        {% for anchor in anchors_list %}
          {{ anchor }}
        {% endfor %}
      </nav>
    </div>
  </div>
{% endif %}
