{% set popular_attractions = bamboo_render_views('pg_attractions__block__popular_attractions', 'block', components.country_id) %}
{% set popular_cities = bamboo_render_views('pg_city__block__popular_cities', 'block', components.country_id) %}

<div class="l-row">
  <div class="c-anchor">
    <nav class="c-anchor__inner">

      {% if components.general_information %}
        <a href="#auto-general_information" class="c-anchor__link">{{ 'Общая информация'|t }}</a>
      {% endif %}

      {% if components.simply_map %}
        <a href="#auto-map" class="c-anchor__link">{{ 'Карта'|t }}</a>
      {% endif %}

      {% if popular_cities|render|pg_clear_comments|striptags %}
        <a href="#auto-cities" class="c-anchor__link">{{ 'Популярные города'|t }}</a>
      {% endif %}

      {% if popular_attractions|render|pg_clear_comments|striptags and components.attractions.title %}
        <a href="#auto-attractions" class="c-anchor__link">{{ 'Достопримечательности'|t }}</a>
      {% endif %}

    </nav>
  </div>
</div>

{% if components.general_information %}
  <div id="auto-general_information">
    {{ components.general_information }}
  </div>
{% endif %}

{% if components.simply_map %}
  <div class="l-row l-row--mt-100">
    <div class="c-title" id="auto-map">
      {{ components.simply_map.title }}
    </div>
  </div>
  <div class="l-row l-row--mt-100">
    <div class="c-map">
      {{ components.simply_map.map }}
    </div>
  </div>
{% endif %}

{% if popular_cities|render|pg_clear_comments|striptags %}
  <div class="l-row l-row--flex l-row--between l-row--align-end l-row--mt-100">
    <div class="c-title c-title--left-max-1151" id="auto-cities">
      {{ 'Популярные города'|t }} {{ components.name_sec }}
    </div>
    {# TODO: uncomment after all page with all cities #}
    {#<a class="c-all__title" href="javascript:void(0)">
      {{ 'Все'|t }}
      <svg class="icon icon--arrow-right"><use xlink:href="{{ html_folder }}/dist/images/_sprite.svg#icon--arrow-right"></use></svg>
    </a>#}
  </div>
  <div class="l-row l-row--max-1151">
    <div class="c-line"></div>
  </div>

  <div class="l-row">
    <div class="c-slick c-slick__slideset-desktop c-slick--mobile-slider c-slick--100vw">
      {{ popular_cities }}
    </div>
  </div>
{% endif %}

{% if popular_attractions|render|pg_clear_comments|striptags and components.attractions.title %}
  <div class="l-row l-row--mt-100">
    <div class="l-row l-row--max-width-950">
      <div class="c-title" id="auto-attractions">
        {{ components.attractions.title }}
      </div>
    </div>

    <div class="l-row">
      <div class="c-slick c-slick__slideset-desktop c-slick--mobile-slider c-slick--100vw">
        {% if components.country_id %}
          {{ popular_attractions }}
        {% endif %}
      </div>
    </div>
    <div class="l-row l-row--min-1152">
      <div class="c-all">
        {% if components.country_id %}
          <a class="c-all__link"
             href="{{ url('pg_common.attractions_catalog_page', {'': {'f[0]' : 'country:' ~ components.country_name}}) }}">
            {{ 'Все достопримечательности'|t }} {{ components.name_sec }}
          </a>
        {% endif %}
      </div>
    </div>

  </div>
{% endif %}