{% set popular_attractions = bamboo_render_views('pg_attractions__block__city_popular_attractions', 'block', components.city_id) %}

{% if components.anchor %}
  <div class="l-row">
    <div class="c-anchor">
      <nav class="c-anchor__inner">

        {% if components.simply_map %}
          <a href="#auto-map" class="c-anchor__link">{{ 'Карта'|t }}</a>
        {% endif %}

        {% if popular_attractions|render|pg_clear_comments|striptags and components.attractions.title %}
          <a href="#auto-attractions" class="c-anchor__link">{{ 'Достопримечательности'|t }}</a>
        {% endif %}

      </nav>
    </div>
  </div>
{% endif %}

{% if components.simply_map %}
  <div class="l-row l-row--mt-100">
    <div class="c-title" id="auto-map">
      {{ components.simply_map.title }}
    </div>
  </div>
  <div class="l-row l-row--mt-100">
    <div class="c-map">
      {{ components.simply_map.map }}
    </div>
  </div>
{% endif %}

{% if popular_attractions|render|pg_clear_comments|striptags and components.attractions.title %}
  <div class="l-row l-row--mt-100">
    <div class="l-row l-row--max-width-950">
      <div class="c-title" id="auto-attractions">
        {{ components.attractions.title }}
      </div>
    </div>

    <div class="l-row">
      <div class="c-slick c-slick__slideset-desktop c-slick--mobile-slider c-slick--100vw">
        {% if components.city_id %}
          {{ popular_attractions }}
        {% endif %}
      </div>
    </div>
    <div class="l-row l-row--min-1152">
      <div class="c-all">
        {% if components.city_id %}
          <a class="c-all__link"
             href="{{ url('pg_common.attractions_catalog_page', {'': {'f[0]' : 'city:' ~ components.city_name}}) }}">
            {{ 'Все достопримечательности'|t }} {{ components.name_sec }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}