<div class="c-description__text">
  {{ summary|raw }}
  {% if link_isset is not empty %}
{#    <div class="c-description--hidden">#}
      {{ description|raw }}
{#    </div>#}
  {% endif %}
</div>
{#{% if link_isset is not empty %}#}
{#  <div class="c-description__more c-description__more--visible">#}
{#    <div class="c-description__button">#}
{#      <span class="c-description__button--read">{{ 'Читать все'|t }}</span>#}
{#      <span class="c-description__button--collapse">{{ 'Свернуть'|t }}</span>#}
{#    </div>#}
{#  </div>#}
{#{% endif %}#}
