<div class="c-guide" id="c-menu__guide">

  <div class="c-guide__close c-close"></div>

  <div class="c-guide__directions" id="c-menu__directions">
    <div class="c-guide__panel">
      <div class="c-guide__back"></div>
      <div class="c-close"></div>
    </div>
    <div class="c-guide__continent">
      {{ continents }}
    </div>
  </div>
  <div class="c-guide__content">
    <div class="c-tab c-tab--guide">
      <div class="c-tab__nav">
        <a class="c-tab__link c-tab__link--active" href="#c-tab__5-1" data-title="{{ 'Страны'|t }}"></a>
        <a class="c-tab__link" href="#c-tab__5-2" data-title="{{ 'Города'|t }}"></a>
      </div>
      <div class="c-tab__content">

        <div class="c-tab__item c-tab__item--active" id="c-tab__5-1">
          <div class="c-guide__block" id="c-menu__countries">
            <div class="c-guide__panel">
              <div class="c-guide__back"></div>
              <div class="c-close"></div>
            </div>
            <div class="c-guide__list">
              {{ countries }}
            </div>
          </div>
        </div>

        <div class="c-tab__item" id="c-tab__5-2">
          <div class="c-guide__block" id="c-menu__cities">
            <div class="c-guide__panel">
              <div class="c-guide__back"></div>
              <div class="c-close"></div>
            </div>
            <div class="c-guide__list">
              {{ cities }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
